__pycache__
.ipynb_checkpoints
.vscode

debug.txt
pvextractor-geo.tar

docker_command.txt

tests/htmlcov
tests/.coverage

extractor/segmentation/Mask_RCNN/logs
extractor/segmentation/Mask_RCNN/mask_rcnn_coco.h5

calibration/camera_8hz/images_calibration
calibration/camera_8hz/images_undistorted
calibration/camera_30hz/images_calibration
calibration/camera_30hz/images_undistorted
