__pycache__
.ipynb_checkpoints
.vscode

debug.txt
pv-drone-inspect.tar

docker_command.txt

htmlcov
.coverage
.cache
.hypothesis
.mutmut-cache

extractor/segmentation/Mask_RCNN/logs
extractor/segmentation/Mask_RCNN/mask_rcnn_coco.h5
extractor/segmentation/Mask_RCNN/build/
extractor/segmentation/Mask_RCNN/dist/
extractor/segmentation/Mask_RCNN/mask_rcnn.egg-info/

calibration/camera_8hz/images_calibration
calibration/camera_8hz/images_undistorted
calibration/camera_30hz/images_calibration
calibration/camera_30hz/images_undistorted

docs/build
