# how to trigger this workflow:
# (on master branch) 
# git tag v0.0.1
# git push origin v0.0.1

name: Create a new release and push Docker image to registry

on:
  push:
    tags: [ "v*" ]
    
env:
  registry: 
  
jobs:
  tagged-release:
  
    if: github.event.base_ref == 'refs/heads/added_workflows' # TODO change back to master # only when tag is pushed on master branch
 
    runs-on: ubuntu-20.04
          
    steps:
      - name: Checkout
        uses: actions/checkout@v2
          
      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: lubo1994/pv-drone-inspect
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and export to Docker
        uses: docker/build-push-action@v2
        with:
          context: .
          load: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          
      - name: Install dependencies for testing
        run: |
          python -m pip install --upgrade pip
          pip install deepdiff==5.7.0 hypothesis[numpy]==6.31.6
        
      - name: Ensure tests pass on newly built Docker image
        run: |
          python -m unittest tests/**/test_*.py
          
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max      
          
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: false
          draft: false
          #fail_on_unmatched_files: true
          #files: |
          #  example_data/example_data.zip
